In [3]:
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
from sklearn.datasets.samples_generator import make_regression
# X为样本特征，y为样本输出， coef为回归系数，共10个样本，每个样本1个特征
X, y, coef =make_regression(n_samples=10, n_features=1,noise=10, coef=True)
# 画图
plt.scatter(X, y,  color='black')
plt.plot(X, X*coef, color='blue',linewidth=3)
plt.xticks(())
plt.yticks(())
plt.show()

In [4]:
import numpy as np
def fitslr(x,y):
    n=len(x)
    dinominator=0
    numerator=0
    for i in range (0,n):
        numerator +=(x[i]-np.mean(x))*(y[i]-np.mean(y))
        dinominator+= (x[i]-np.mean(x))**2
    print("numerator",numerator)
    print("dinominator",dinominator)
    b1=numerator/float(dinominator)
    b0=np.mean(y)/float(np.mean(x))
    print(b1)
    print(b0)
    return b0,b1
def predict(x,b0,b1):
    return b0+x*b1

x=[1,3,2,1,3]
y=[14,24,18,17,27]
b0,b1=fitslr(x,y)

x_text=6
y_text=predict(6,b0,b1)
print("x_text",y_text)

numerator 20.0
dinominator 4.0
5.0
10.0
x_text 40.0

In [5]:
#生成数据
import numpy as np 

m = 30
test_x = np.random.random(size=m)
test_y = test_x * 2 + 3 + np.random.normal(size=m)

In [14]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split #切分训练集与测试集
from sklearn.linear_model import LinearRegression  #线性回归模型
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_squared_error #均方误差
from sklearn.metrics import mean_absolute_error #平方绝对误差
from sklearn.metrics import r2_score #R square

In [3]:



#1. 波士顿房产数据(只使用房间数量这个特征)
#2. 数据切分（train_test_split）
#3. MSE、MAE、RMSE、r2_score(自己写)VS   scikit-learn中的MSE和MAE、r2_score

#导入波士顿数据
from sklearn.datasets import load_boston
boston=load_boston()
print(boston.data.shape)
#数据集的描述
print(boston.feature_names)
#print(boston.DESCR)
#获得数据集的特征属性列与label列
x = boston.data       
y = boston.target  
#RM房间数  MEDV 房价
#创建用于模型的数据集
df=pd.DataFrame(x,y)

(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [4]:
x = boston.data       
y = boston.target  
#RM房间数  MEDV 房价
#创建用于模型的数据集
df=pd.DataFrame(data=np.c_[x,y],columns=np.append(boston.feature_names,'MEDV'))
#选中以下两个变量
df=df[['RM','MEDV']]
print(df[:5])
#划分训练集与测试集7：3比例
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)
print(len(x_train))
print(len(x_test))

      RM  MEDV
0  6.575  24.0
1  6.421  21.6
2  7.185  34.7
3  6.998  33.4
4  7.147  36.2
354
152

In [16]:
#创建线性回归模型
regr=LinearRegression()
#用训练集训练模型
regr.fit(x_train,y_train)
#用训练出来的模型去拟合测试数据
y_pred=regr.predict(x_test)
#评价指标  1、MSE （Mean Squared Error）叫做均方误差：真实值-预测值 然后平方之后求和平均
#评价指标  2、MAE叫做均方误差：真实值-预测值 的绝对值然后平方之后求和平均
#评价指标  3、RMSE Root Mean Square Error,均方根误差：观测值与真值偏差的平方和与观测次数m比值的平方根
#评价指标  4、r2_score：

#根据公式计算所得结果
mse_test =np.sum((y_pred-y_test)**2)/len(y_test)
mae_test=np.sum(np.absolute(y_pred-y_test))/len(y_test)
rmse_test=mse_test**0.5
r2_score=1-(mse_test/np.var(y_test))


print('公式法：')
print('均方误差:{},平均绝对误差:{},\n均方根误差:{},可决系数:{}'.format(mse_test,mae_test,rmse_test,r2_score))
print()

公式法：
均方误差:27.195965766883152,平均绝对误差:3.6099040603817976,
均方根误差:5.214975145375398,可决系数:0.6733825506400202

In [17]:
#调包法算评价指标
from sklearn.metrics import mean_squared_error #均方误差
from sklearn.metrics import mean_absolute_error #平方绝对误差
from sklearn.metrics import r2_score #R square
mse_test1=mean_squared_error(y_test,y_pred)
mae_test1=mean_absolute_error(y_test,y_pred)
rmse_test1=mse_test1**0.5
r2_score1=r2_score(y_test,y_pred)

print('调包法：')
print('均方误差:{},平均绝对误差:{},\n均方根误差:{},可决系数:{}'.format(mse_test1,mse_test1,rmse_test1,r2_score1))
print()

调包法：
均方误差:27.195965766883152,平均绝对误差:27.195965766883152,
均方根误差:5.214975145375398,可决系数:0.6733825506400202

In [16]:
#导入波士顿数据
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
boston=load_boston()
print(boston.data.shape)
print(boston.target.shape)
#数据集的描述
print(boston.feature_names)
#print(boston.DESCR)
#特征
bostonDf_X = pd.DataFrame(boston.data,columns = boston.feature_names)
bostonDf_X.head()
#标签
bostonDf_y = pd.DataFrame(boston.target,columns=['housePrice'])#【注意加列名要加在[]中】
bostonDf_y.head()
#合并DataFrame
bostonDf = pd.concat([bostonDf_X,bostonDf_y],axis =1)#axis =1 为横向操作，即横向合并
bostonDf.shape#506,14
bostonDf.head()
#RM房间数  MEDV 房价
#创建用于模型的数据集

from sklearn.model_selection import train_test_split #切分训练集与测试集 
#划分训练集与测试集7：3比例
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)
print(len(x_train))
print(len(x_test))

(506, 13)
(506,)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']
354
152

In [5]:
from sklearn.model_selection import train_test_split #切分训练集与测试集
from sklearn.linear_model import LinearRegression  #线性回归模型
LR=LinearRegression()

In [17]:
#特征
bostonDf_X = pd.DataFrame(boston.data,columns = boston.feature_names)
bostonDf_X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
#标签
bostonDf_y = pd.DataFrame(boston.target,columns=['housePrice'])#【注意加列名要加在[]中】
c.head()

   housePrice
0        24.0
1        21.6
2        34.7
3        33.4
4        36.2

In [19]:
#合并DataFrame
bostonDf = pd.concat([bostonDf_X,bostonDf_y],axis =1)#axis =1 为横向操作，即横向合并
bostonDf.shape#506,14
bostonDf.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,housePrice
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [29]:
#标准化
from sklearn import preprocessing
bostonDf_std=pd.DataFrame(preprocessing.normalize(bostonDf,norm='l2', axis=1, copy=True),columns=bostonDf.columns)
bostonDf_std.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,housePrice
0,0.000013,0.035955,0.004614,0.0,0.001075,0.013134,0.130238,0.008170,0.001998,0.591265,0.030562,0.792814,0.009948,0.047940
1,0.000058,0.000000,0.014961,0.0,0.000992,0.013588,0.166966,0.010511,0.004232,0.512112,0.037668,0.839907,0.019342,0.045709
2,0.000058,0.000000,0.015133,0.0,0.001004,0.015379,0.130778,0.010632,0.004281,0.517974,0.038099,0.840809,0.008626,0.074272
3,0.000071,0.000000,0.004772,0.0,0.001003,0.015319,0.100257,0.013270,0.006567,0.485964,0.040935,0.863856,0.006436,0.073114
4,0.000150,0.000000,0.004740,0.0,0.000996,0.015539,0.117842,0.013181,0.006523,0.482675,0.040658,0.862945,0.011589,0.078707

In [46]:
from sklearn.model_selection import train_test_split #切分训练集与测试集 
#划分训练集与测试集7：3比例
X_train,X_test,y_train,y_test =\
    train_test_split(bostonDf_std[["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"]],bostonDf_std[["housePrice"]], test_size = 0.3, random_state=0)
print(len(X_train))
print(len(X_test))

354
152

In [64]:
bostonDf_std.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]]
bostonDf_std.iloc[:,[13]].head()

     housePrice
0      0.047940
1      0.045709
2      0.074272
3      0.073114
4      0.078707
5      0.062725
6      0.045008
7      0.052630
8      0.032490
9      0.037439
10     0.029368
11     0.036910
12     0.043228
13     0.040267
14     0.036634
15     0.039408
16     0.046582
17     0.034889
18     0.047583
19     0.036187
20     0.027372
21     0.038630
22     0.029733
23     0.028377
24     0.030613
25     0.031502
26     0.033502
27     0.033336
28     0.036456
29     0.042202
..          ...
476    0.021359
477    0.015791
478    0.018863
479    0.027618
480    0.029514
481    0.030452
482    0.032067
483    0.028108
484    0.026940
485    0.027387
486    0.024533
487    0.026616
488    0.018542
489    0.008782
490    0.010298
491    0.016625
492    0.024522
493    0.038874
494    0.043753
495    0.041504
496    0.034984
497    0.032530
498    0.037723
499    0.031132
500    0.029801
501    0.046288
502    0.042131
503    0.048626
504    0.045051
505    0.024320

[506 rows x 1 columns]

In [58]:
from sklearn.linear_model import LinearRegression  #线性回归模型
LR=LinearRegression()
#用训练集训练模型
LR.fit(X_train,y_train)
#用训练出来的模型去拟合测试数据
y_pred=LR.predict(X_test)
LR.score(X_test,y_test)#【精度得分80.132%】

0.8013249108542022

In [59]:
#【上面改近方向：可用Lasso回归梯度下降加入学习率训练，求得最优参数，和学习率之间的平衡】

#k近邻 网格搜索和GridSearchCV调参来实现多变量线性回归的找到最优参数，测算精确度，看看是不是使回归更优
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV

knn_reg = KNeighborsRegressor()

param_grid = [
    {
        'weights': ['uniform'],
        'n_neighbors':[i for i in range(1,11)]
    },
    {
        'weights':['distance'],
        'n_neighbors':[i for i in range(1,11)],
        'p':[i for i in range(1,6)]
    }
]

knn_reg = KNeighborsRegressor()

grid_search=GridSearchCV(knn_reg,param_grid,n_jobs=-1,verbose=2)
grid_search.fit(X_train,y_train)

#最优参数
grid_search.best_params_
#{'n_neighbors': 2, 'p': 1, 'weights': 'distance'}

#代入最优参数得到算法精确度
grid_search.best_estimator_.score(X_test,y_test)
#72.49899478974446%

#对比上面LinearRegression看下，网格搜索K近邻 多元线性回归求得的精确度为72%，
#LinearRegression没用学习率和参数调优。80%。可能会产生过拟合。

c:\users\jazlyn\appdata\local\programs\python\python36\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:    0.5s finished

0.7249899478974446

In [55]:
import sklearn

In [ ]:
sklearn.model_selection.GridSearchCV